{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>

    <a href="evento/">
        <button type="button">Novo Evento</button>
    </a>
    
    <ul style="font-size: 22px;">
    <!-- Executa comandos do Python -->
    {% for evento in eventos %}
        <!-- Acessa o conteudo de variáveis -->
        <li>
            <div style={% if evento.get_evento_atrasado %}
                            "color:red"
                        {% endif %} >
                {{evento.titulo}}
                ( <a href="evento/?id={{ evento.id }}">Editar</a>
                / <a href="evento/delete/{{ evento.id }}">Excluir</a> )

                <ul style="font-size: 18px;">
                    <li>Local: {{ evento.local }}</li>
                    <li>Data/Hora: {{evento.get_data_evento}}</li>
                    <li>Descrição: {{ evento.descricao }}</li>
                </ul>
            </div>
        </li>
    {% endfor %}
    </ul>

{% endblock %}